<app-admin-nav-bar></app-admin-nav-bar>

<table class="table table-striped" style="margin-top: 20px;"> <!-- Adjust margin-top for positioning -->
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Username</th>
        <th scope="col">Is Admin</th>
        <th scope="col">Actions</th> <!-- Added column for actions -->
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let user of dummyUsers; let i = index">
        <tr>
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ user.name }}</td>
          <td>{{ user.surname }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.isAdmin ? 'Yes' : 'No' }}</td>
          <td>
            <span (click)="addUser()" style="margin-right: 10px;"><i class="fas fa-plus"></i></span> <!-- Icon for adding -->
            <span (click)="editUser(user)" style="margin-right: 10px;"><i class="fas fa-edit"></i></span> <!-- Icon for editing -->
            <span (click)="deleteUser(user,confirmationModal)"><i class="fas fa-trash"></i></span> <!-- Icon for deleting -->
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>

  <ng-template #confirmationModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Confirm Delete</h4>
    </div>
    <div class="modal-body">
      Are you sure you want to delete {{userToEdit?.username}}?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.close()">Yes</button>
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">No</button>
    </div>
  </ng-template>
  